<div class='pager'>
	<small>
		<!--
      {% if app.debug == true %}
              <li>{{app.user_infos.token|default('') }}</li>
              <li>{{app.user.username|default('') }}</li>
      {% endif %}
		-->
		&copy;{{ "now"|date("Y") }} M.Paraiso. contact mparaiso@online.fr
	</small>
</div>