<div class="navbar navbar-inverse"> {#navbar-fixed-top">#}
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('post.index') }}"><strong>{{ app['options'].get('site_title') }}</strong></a>

            <div class="nav-collapse collapse">
                {% include 'silexpress/front/post/menus/item.twig' with {items:app['sp.core.service.menu'].findOneBy({post_title:"main_nav"}).post_meta.items} only %}
                {% include 'user/user-menu.twig' %}
            </div>
        </div>
    </div>
</div>