{% extends  app["sp.core.template.admin.layout"] %}
{% block content %}
    <div class="span10">
        <h3><i class="icon-32 icon-setting"></i> {{ subtitle }}</h3>

        <form class="form form-horizontal form-actions" action="" method="POST">
            {{ form_widget(form) }}
            <input type="submit" class="btn" value="Submit"/>
        </form>
    </div>
{% endblock %}