{% extends app['sp.core.template.front.layout'] %}
{% block content %}
    <div class='span12'>
        <h2>{{ title|default("Posts")|capitalize }}</h2>
        {% for post in posts %}
            {% include 'silexpress/front/post/preview.twig' with {post: post} only %}
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
{% endblock %}
